@font-face {
    font-family: "belligerent";
    src: url(../../fonts/web_fonts/belligerentmadness_regular_macroman/belligerent-webfont.woff) format("woff");
}

* {
    box-sizing: border-box;
}

.full {
    font-size: 15px;
    font-family: "belligerent";
}

img {
    object-fit: cover;
}

ul {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: black;
}