@font-face {
  font-family: "belligerent";
  src: url(../fonts/web_fonts/belligerentmadness_regular_macroman/belligerent-webfont.woff) format("woff");
}
* {
  box-sizing: border-box;
}

.full {
  font-size: 27px;
  font-family: "belligerent";
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: black;
}

header {
  background-color: #f3e9f1;
}
@media all and (max-width: 441px) {
  header {
    display: flex;
    justify-content: center;
  }
}
header .logo {
  height: 100px;
  padding: 5px 0 0 10px;
}
header ul {
  display: flex;
  flex-direction: row;
  padding: 5px 10px 0 0;
  margin: 0;
}
header ul li {
  padding: 0 15px;
}
header .nav__link:hover {
  color: #905bf7;
}

.full {
  background-color: #f9e8d2;
}

.presentation {
  background-color: #fcd58c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}
.presentation h1 {
  font-size: 50px;
  padding-bottom: 10px;
}
.presentation .precis {
  text-align: center;
}

section h2 {
  font-size: 35px;
  padding-top: 25px;
}
@media all and (max-width: 767px) {
  section h2 {
    display: flex;
    justify-content: center;
  }
}
section .teddy_bears {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 55px;
  padding: 45px 0;
}
@media all and (max-width: 767px) {
  section .teddy_bears {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
  }
}
@media all and (min-width: 768px) and (max-width: 1439px) {
  section .teddy_bears {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.product {
  width: 350px;
  border-radius: 50px;
  background-color: #56baffa1;
  font-weight: 600;
}
@media all and (max-width: 767px) {
  .product {
    width: 295px;
  }
}
.product:hover .bears_link {
  color: #540be1;
}
.product .bears_link {
  text-decoration: none;
  color: black;
}
.product__img {
  width: 350px;
}
@media all and (max-width: 767px) {
  .product__img {
    width: 295px;
  }
}
.product__img img {
  height: 300px;
  width: 350px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media all and (max-width: 767px) {
  .product__img img {
    width: 295px;
  }
}
.product__infos {
  width: 350px;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 65px;
  padding-top: 12px;
}
@media all and (max-width: 767px) {
  .product__infos {
    width: 295px;
  }
}
.product__infos__title {
  padding-left: 25px;
}
@media all and (max-width: 767px) {
  .product__infos__title {
    font-size: 20px;
    padding-top: 8px;
  }
}
.product__infos__price {
  padding-right: 25px;
}
@media all and (max-width: 767px) {
  .product__infos__price {
    font-size: 20px;
    padding-top: 8px;
  }
}

main .product-card__img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
main .product-card__img .bears_pictures {
  width: 500px;
}
@media all and (max-width: 767px) {
  main .product-card__img .bears_pictures {
    width: 300px;
  }
}
main .product-card__infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 370px;
}
@media all and (max-width: 1439px) {
  main .product-card__infos {
    margin: 0;
  }
}
main .product-card__infos__title {
  font-size: 32px;
  font-weight: 600;
}
main .product-card__infos__description, main .product-card__infos__color, main .product-card__infos__quantity, main .product-card__infos__price, main .product-card__infos__title {
  margin: 10px 0;
}
main .product-card__infos__price {
  font-weight: 600;
}
main .product-card__infos__quantity input {
  width: 70px;
}
main .product-card__infos__color select {
  width: 150px;
}
main .product-card__infos__buttons {
  width: 250px;
}
main .product-card__infos__buttons a {
  color: rgba(0, 126, 214, 0.631372549);
  text-decoration: none;
  font-weight: 600;
}
main .product-card__infos__buttons a:hover {
  text-decoration: none;
  color: #905bf7;
}
main .product-card__infos__buttons button {
  margin: 20px 0;
}

.panier-card {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.panier-card h2 {
  display: flex;
  justify-content: center;
}
.panier-card__recap a {
  color: #905bf7;
  text-decoration: none;
}
.panier-card__recap a:hover {
  color: #905bf7;
  text-decoration: underline;
}
.panier-card__recap__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.panier-card__recap__title {
  padding: 5px 15%;
}
@media all and (max-width: 650px) {
  .panier-card__recap__title {
    padding: 5px 7%;
  }
}
.panier-card__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.panier-card__form .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panier-card__form h2 {
  display: flex;
  justify-content: center;
}
.panier-card__form form {
  width: 26%;
}
@media all and (max-width: 767px) {
  .panier-card__form form {
    width: 63%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .panier-card__form form {
    width: 36%;
  }
}
.panier-card__form button {
  margin-top: 10px;
  background-color: #56baffa1;
}

.if-empty-panier a {
  color: red;
  text-decoration: none;
}
.if-empty-panier a:hover {
  color: red;
  text-decoration: underline;
}

footer {
  background-color: #f3e9f1;
  padding: 10px 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  justify-content: center;
}
@media all and (max-width: 767px) {
  footer ul {
    flex-direction: column;
  }
}
footer ul li {
  padding: 0 15px;
}
footer .nav__link:hover {
  color: #905bf7;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
