header {
    background-color: $primary;

    .logo {
        height: 100px;
        padding: 5px 0 0 10px;
    }

    ul {
        display: flex;
        flex-direction: row;
        padding: 5px 10px 0 0;
        margin: 0;

        li {
            padding: 0 15px;
        }
    }

    .nav__link:hover {
        color: $tertiary;
    }
}