.full {
    background-color: $bg;
}

.presentation {
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;

    h1 {
        font-size: 50px;
        padding-bottom: 10px;
    }

    .precis {
        text-align: center;
    }
}

section {
    h2 {
        font-size: 35px;
        padding-top: 25px;

        @media all and (max-width: 767px){
            display: flex;
            justify-content: center;
        }
    }

    .teddy_bears {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 55px;
        padding: 45px 0;

        @media all and (max-width: 767px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 1fr);
            justify-items: center;
        }

        @media all and (min-width: 768px) and (max-width: 1439px){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 20px;
        }
    }
}



.product {
    width: 350px;
    border-radius: 50px;
    background-color: $blb;
    font-weight: 600;

    @media all and (max-width: 767px){
        width: 295px;
    }

    &:hover {
         .bears_link {
            color: darken($tertiary, $amount: 20);
        }
    }

    .bears_link {
        text-decoration: none;
        color: black;
    }
    
    &__img {
        width: 350px;

        @media all and (max-width: 767px){
            width: 295px;
        }

        img {
            height: 300px;
            width: 350px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;

            @media all and (max-width: 767px){
                width: 295px;
            }
        }
    }

    &__infos {
        width: 350px;
        display: flex;
        justify-content: space-between;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        height: 65px;
        padding-top: 12px;

        @media all and (max-width: 767px){
            width: 295px;
        }

        &__title {
            padding-left: 25px;

            @media all and (max-width: 767px){
                font-size: 20px;
                padding-top: 8px;
            }
        }

        &__price {
            padding-right: 25px;

            @media all and (max-width: 767px){
                font-size: 20px;
                padding-top: 8px;
            }
        }
    }
}