* {
    box-sizing: border-box;
}

.full {
    font-size: 27px;
    font-family: "belligerent";
}

img {
    object-fit: cover;
}

ul {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: black;
}
