footer {
    background-color: $primary;
    padding: 10px 0;

    ul {
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        justify-content: center;

        li {
            padding: 0 15px;
        }
    }

    .nav__link:hover {
        color: $tertiary;
        text-decoration: underline;
    }
}